* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: slategray;
}
h1 {
  margin-bottom: 5svh;
  text-align: center;
  text-shadow: black 1px 2px 3px;
}

.warning {
  color: red;
  font-size: 0.8em;
  font-weight: 450;
}

#body-box {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 100svh;
  max-width: 100svw;
  gap: 1svw;
}

#gb-form {
  display: flex;
  min-width: 365px;
  max-width: 768px;
  flex-direction: column;
}

#gb-form label {
  margin-bottom: 2px;
}

#gb-form input {
  margin-bottom: 5px;
  padding: 20px;
  background-color: beige;
  color: black;
}

#gb-form textarea {
  margin-bottom: 5px;
  padding: 20px;
  background-color: beige;
  color: black;
  word-wrap: break-word;
  resize: none;
}

#gb-form button {
  height: 2em;
  margin: 5px 0px 20px 0px;
  padding: 20px;
  color: black;
}

#gb-form label {
  font-weight: bold;
}
#guest-book {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 95svw;
  max-width: 768px;
}
#guest-book h2 {
  color: darkgreen;
  font-size: 1em;
  margin-left: 3px;
}
#guest-book h3 {
  color: black;
  font-size: 0.8em;
  font-weight: normal;
  text-wrap: wrap;
  margin-left: 3px;
}
.message-container {
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
  border-radius: 8px;
}

.container {
  display: flex;
  align-items: baseline;
  border: 1px solid rgb(118, 118, 144);
  flex-wrap: wrap;
  padding-top: 1svh;
}

.container > * {
  white-space: pre;
}

.message-container .container:first-child {
  border-radius: 8px 8px 0px 0px;
}

.message-container .container:last-child {
  border-radius: 0px 0px 8px 8px;
}

@media (min-width: 768px) {
  #body-box {
    flex-direction: row;
  }
  #guest-book {
    width: 50svw;
  }
}
